:root {
    --white: #FFF;
    --primary: #61ECBC;
    --black: #182339;
}

html {
    font-size: 62.5%;
}
body {
    background-image: url('/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Outfit", serif;
    font-size: 2rem;
}

.container {
    max-width: 60rem;
    width: 95%;
    margin: 0 auto;
    
}
.app-title {
    text-align: right;
    font-size: 3.8rem;
    margin-top: 5rem;
    color: var(--white);
    line-height: .8;
}

.app-title span {
    display: block;
    color: var(--primary);
    font-size: 4.4rem; 
}

.content {
    margin-top: 5rem;
    padding: 6rem 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form,
.field  {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form label{
    color: var(--black);
}

.form select { 
    background-color: #ECEBEB;
    border: none;
    padding: 1rem;
    border-radius: 1rem; 
    font-size: 1.8rem;
}

.form [type="submit"] {
    background-color: var(--primary);
    color: var(--black);
    border: none;
    padding: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 1rem;
    transition: background-color 200ms ease;

    &:hover {
        background-color: #0CB387;
    }
}

.error {
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #e65a5a;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.result-wrapper {
    margin-top: 5rem;
    h2 {
        text-align: center;
    }
}

.result {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;

    img {
        width: 100%;
    }
    p {
        margin: 0 0 1rem;
        font-size: 1.6rem;
    }
    
    span {
        font-weight: 700;
    }
}

